<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>413160178947-gg34b4mbpa3h7kv7p06ica234krl58st.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.413160178947-gg34b4mbpa3h7kv7p06ica234krl58st</string>
	<key>API_KEY</key>
	<string>AIzaSyBw9NiXaCKM3aYzrIAwoKfeeMoBuYonPog</string>
	<key>GCM_SENDER_ID</key>
	<string>413160178947</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aimac.flutter-chat</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-3f990</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-3f990.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:413160178947:ios:e9d629059cd20b9b28d536</string>
</dict>
</plist>